<% if model.errors.any? %>
  <div class="bg-app-danger-soft border border-app-danger text-app-danger rounded-xl p-3 text-sm space-y-0.5">
    <% model.errors.full_messages.each do |msg| %>
      <p><%= msg %></p>
    <% end %>
  </div>
<% end %>
