<p>Hi <%= @user.name %>,</p>

<p>Click the link below to sign in to Dashi. This link expires in 15 minutes.</p>

<p><%= link_to "Sign in to Dashi", @url %></p>

<p>If you didn't request this, you can safely ignore this email.</p>
